<%- include('../includes/header.ejs')%>
  <%- include('../includes/navigation.ejs')%>

<div
  class="container fontTable w-100 h-100 mt-5 pt-5 d-flex flex-column justify-content-center"
>
  <div class="col-md-12 d-flex flex-column justify-content-center">
    <div class="d-flex flex-row w-100 justify-content-between">
      <h5 class="text-center align-start text-secondary"><%= title %></h5>
      <a href="/myaccount/students/new"
        ><button class="btn btn-outline-primary" type="button">
          Nouveau
        </button></a
      >
    </div>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Noms</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class=" font14 ">
            <% students.forEach((student, i)=> { %>
              <tr class=" align-middle">
                <td>
                  <%= i + 1 %>
                </td>
                <td>
                  <div class=" d-flex gap-2 align-items-center " >
                    <div class=" rounded-name-character">
                      <%= student.prenom.charAt(0).toUpperCase() %>
                    </div>
                    <div>
                      <%= student.prenom.charAt(0).toUpperCase() + student.prenom.slice(1) +" " + student.nom.toUpperCase() %>
                    </div>
                  </div>
                </td>
                <td ><%= student.email %></td>
                <td class="align-middle">
                  <a href="/myaccount/students/<%= student.id %>">
                    <button title="Voir" class="btn btn-outline-primary btn-sm mx-1" type="button">
                      <i class="fa-solid fa-eye"></i>
                    </button>
                  </a>
                  <a href="">
                    <button title="Editer" class="btn btn-outline-success btn-sm mx-1" type="button">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  </a>
                  <% if(student.isactif == true) { %>
                    <form action="/admin/students/desactivate" class="mx-1" style="display: inline;" method="POST">
                      <input  type="text" name="studentId" value="<%= student.id%>" hidden/>
                      <button title="Desactiver" class="btn btn-outline-danger btn-sm " type="submit">
                        <!-- <i class="fa fa-trash-can"></i> -->
                        <i class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </form>
                  <% } else { %>
                    <form action="/admin/students/activate" class="mx-1" style="display: inline;" method="POST">
                      <input  type="text" name="studentId"  value="<%= student.id%>" hidden/>
                      <button title="Activer" class="btn btn-outline-success btn-sm " type="submit">
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                      </button>
                    </form>
                  <% } %>
                  
                </td>
              </tr>
              <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Page No <%= currentPage %></th>
              <th>
                <% if(currentPage > 1 ) { %>
                  <a  class="btn btn-sm px-3 m-2 btn-outline-danger" href="/myaccount/students/all?page=<%= currentPage -1 %>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <% } %>
                <% if(currentPage < lastPage) { %>
                  <a  class="btn btn-sm px-3 m-2 btn-outline-danger" href="/myaccount/students/all?page=<%= currentPage +1 %>"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <% } %>
              </th>
              <th>
                <%= currentPage%>/<%= lastPage%> pages
              </th>
            </tr>
          </tfoot>
        </table>

    <!-- bottom butons -->
        <div class="d-flex justify-content-center my-3">
          <% if (lastPage > 0) { %>
            <ul class="pagination text-center">
                <% if (currentPage == 1) { %>
                    <li class="btn btn-sm px-3 m-2 btn-outline-secondary disabled"><a>First</a></li>
                <% } else { %>
                    <li><a  class="btn btn-sm px-3 m-2 btn-outline-danger" href="/myaccount/students/all?page=1">First</a></li>
                <% } %>
                <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a  class="btn btn-sm px-3 m-2 btn-outline-secondary disabled">...</a></li>
                <% } %>
                <% for (; i <= (Number(currentPage) + 4) && i <= lastPage; i++) { %>
                    <% if (i == currentPage) { %>
                        <li class="active"><a  class="btn btn-sm px-3 m-2 btn-outline-danger"><%= i %></a></li>
                    <% } else { %>
                        <li><a  class="btn btn-sm px-3 m-2 btn-outline-danger" href="/myaccount/students/all?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(currentPage) + 4 && i < lastPage) { %>
                        <li class="disabled"><a  class="btn btn-sm px-3 m-2 btn-outline-secondary disabled">...</a></li>
                    <% } %>
                <% } %>
                <% if (currentPage == lastPage) { %>
                    <li class="disabled"><a  class="btn btn-sm px-3 m-2 btn-outline-secondary disabled" >Last</a></li>
                <% } else { %>
                    <li><a  class="btn btn-sm px-3 m-2 btn-outline-danger" href="/myaccount/students/all?page=<%= lastPage %>">Last</a></li>
                <% } %>
            </ul>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/footer.ejs')%>
