<%- include('../includes/head.ejs')%>
  <%- include('../includes/header.ejs')%>

<div
  class="container fontTable w-100 h-100 mt-5 pt-5 d-flex flex-column justify-content-center"
>
  <div class="col-md-12 d-flex flex-column justify-content-center">
    <div class="d-flex flex-row w-100 justify-content-between">
      <h5 class="text-center align-start text-secondary"><%= title %></h5>
      <a href="/myaccount/add-student"
        ><button class="btn btn-outline-primary" type="button">
          Nouveau
        </button></a
      >
    </div>



        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Noms</th>
              <th>Email</th>
              <!-- <th>Id</th> -->
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class=" font14 ">
            <% students.forEach((student, i)=> { %>
              <tr class=" align-middle">
                <td>
                  <%= i + 1 %>
                </td>
                <td>
                  <div class=" d-flex gap-2 align-items-center " >
                    <div class=" rounded-name-character">
                      <%= student.prenom.charAt(0).toUpperCase() %>
                    </div>
                    <div>
                      <%= student.prenom.charAt(0).toUpperCase() + student.prenom.slice(1) +" " + student.nom.toUpperCase() %>
                    </div>
                  </div>
                </td>
                <td ><%= student.email %></td>
      <!-- <td>
                  <div class=" idContainer">
                        <%= student.id %>
                    </div>

                </td> -->
                <td class="align-middle">
                  <a href="/myaccount/students/<%= student.id %>">
                    <button title="Voir" class="btn btn-outline-primary btn-sm mx-1" type="button">
                      <i class="fa-solid fa-eye"></i>
                    </button>
                  </a>
                  <a href="">
                    <button title="Editer" class="btn btn-outline-success btn-sm mx-1" type="button">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  </a>
                  <% if(student.isactif == true) { %>
                    <form action="/admin/students/desactivate" class="mx-1" style="display: inline;" method="POST">
                      <input  type="text" name="studentId" value="<%= student.id%>" hidden/>
                      <button title="Desactiver" class="btn btn-outline-danger btn-sm " type="submit">
                        <!-- <i class="fa fa-trash-can"></i> -->
                        <i class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </form>
                  <% } else { %>
                    <form action="/admin/students/activate" class="mx-1" style="display: inline;" method="POST">
                      <input  type="text" name="studentId"  value="<%= student.id%>" hidden/>
                      <button title="Activer" class="btn btn-outline-success btn-sm " type="submit">
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                      </button>
                    </form>
                  <% } %>
                  
                </td>
              </tr>
              <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Noms</th>
              <th>Email</th>
              <!-- <th>Id</th> -->
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>

    <!-- bottom butons -->
        <div class="d-flex justify-content-center my-3">
          <% if(!hasPreviousPage && previousPage > 1 ){ %>
          <a href="/myaccount/students" class="btn btn-sm px-3 m-2 btn-outline-danger"
            >1</a
          >
          <% }%> <% if(currentPage !== 1){ %>
          <a
            href="/myaccount/students?page=<%= previousPage %>"
            class="btn btn-sm px-3 m-2 btn-outline-danger"
            ><i class="fa fa-arrow-left" aria-hidden="true"></i
          ></a>
          <% }%>
          <a
            href="/myaccount/students?page=<%= currentPage %>"
            class="btn btn-sm px-3 m-2 btn-outline-danger active"
            ><%= currentPage %></a
          >
          <% if (hasNextPage) { %>
          <a
            href="/myaccount/students?page=<%= nextPage %>"
            class="btn btn-sm px-3 m-2 btn-outline-danger"
            ><i class="fa fa-arrow-right" aria-hidden="true"></i
          ></a>
          <% } %> <% if (lastPage && lastPage !== currentPage && lastPage !==
          nextPage) { %>
          <a
            href="/myaccount/students?page=<%= lastPage %>"
            class="btn btn-sm px-3 m-2 btn-outline-danger"
            ><%= lastPage %></a
          >
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/footer.ejs')%>
