<%- include('../includes/head.ejs')%> 
<%- include('../includes/header.ejs')%>

<div
  class="login container-fluid w-100 h-100 pt-5 mb-5 d-flex justify-content-center align-items-start"
>
  <div class="container mx-sm-1 mx-5">
    <form action="" method="post">
      <div
        class="d-flex flex-row w-100 justify-content-between flex-wrap align-items-center mt-3"
      >
        <h5 class="text-center align-start text-secondary">
          Faire la presence
        </h5>
        <p class="text-secondary m-0"><%= new Date().toLocaleString() %></p>
        <div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="isMatin"
                id="isMatin"
                value="true"
                checked
              />
              Matin
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="isMatin"
                id="isMatin"
                value="false"
              />
              Apres midi
            </label>
          </div>
        </div>
      </div>
      <div class="overflow-auto">
        <table class="table table-light table-hover shadow-sm p-2">
          <thead class="thead-light">
            <tr>
              <th class="text-danger text-center">#</th>
              <th class="text-danger text-center" colspan="2">noms</th>
              <th class="text-danger text-center">Present</th>
              <th class="text-danger text-center">R (justifié)</th>
              <th class="text-danger text-center">A (justifié)</th>
              <th class="text-danger text-center">A (non justifié)</th>
            </tr>
          </thead>
          <tbody>
            <% students.forEach(student => { %>
            <tr>
              <td class="text-center text-muted"><%= student.id %></td>
              <td class="text-center" colspan="2">
                <%= student.prenom %> <%= student.nom %>
              </td>
              <td class="text-center">
                <input
                  type="radio"
                  name="<%= student.id%>"
                  id=""
                  value="present"
                  checked
                />
              </td>
              <td class="text-center">
                <input
                  type="radio"
                  name="<%= student.id%>"
                  id=""
                  value="retard justifié"
                />
              </td>
              <td class="text-center">
                <input
                  type="radio"
                  name="<%= student.id%>"
                  id=""
                  value="absent justifié"
                />
              </td>
              <td class="text-center">
                <input
                  type="radio"
                  name="<%= student.id%>"
                  id=""
                  value="absent non justifié"
                />
              </td>
            </tr>
            <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-danger text-center">#</th>
              <th class="text-danger text-center" colspan="2">noms</th>
              <th class="text-danger text-center">Present</th>
              <th class="text-danger text-center">R (justifié)</th>
              <th class="text-danger text-center">A (justifié)</th>
              <th class="text-danger text-center">A (non justifié)</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="form-group d-flex justify-content-center">
        <button class="btn btn-danger px-5" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
<%- include('../includes/footer.ejs')%>
