<%- include('../includes/head.ejs')%>

<div class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center mb-2 p-5">
  <div class="mt-5 container shadow mx-5 py-5">
    <h5 class="text-danger w-100 text-center">Présences du <%= date %></h5>
    <div class="row d-flex justify-content-center mt-2"> 
      <% if(presencesToday.length > 0) { %>
        <% presencesToday.forEach(pres => { %>
        <div class="col-md-2  px-3 p-sm-1 col-sm-6">
          <div class="card bg-light m-1">
            <div class="card-body">
              <h1 class="text-center text-danger"><%= pres.count %></h1>
              <p class="card-text text-center"><%= pres.presence %></p>
            </div>
          </div>
        </div>
        <% }) %>
      <% } else { %>
         <p class="w-100 text-center">Pas des presences pour aujourd'hui</p>
      <% } %>
    </div>
  </div>
  <div class="mt-5 container shadow mx-5 py-5 mb-2">
    <h5 class="text-danger w-100 text-center">Total des présences</h5>
    <div class="row d-flex justify-content-center mt-2"> 
      <% if(allPresences.length > 0) { %>
        <% allPresences.forEach(pres => { %>
        <div class="col-md-2  px-3 p-sm-1 col-sm-6">
          <div class="card bg-light m-1">
            <div class="card-body">
              <h1 class="text-center text-danger"><%= pres.count %></h1>
              <p class="card-text text-center"><%= pres.presence %></p>
            </div>
          </div>
        </div>
        <% }) %>
      <% } else { %>
         <p class="w-100 text-center">Pas des presences disponible</p>
      <% } %>
    </div>
  </div>
</div>
