<%- include('../includes/head.ejs')%> <%- include('../includes/header.ejs')%>

<div
  class="login container w-100 h-100 p-5 d-flex flex-column justify-content-center"
>
  <div class="col-md-12 d-flex flex-column justify-content-center mt-5">
    <div class="d-flex flex-row w-100 justify-content-between">
      <h3 class="text-center align-start text-secondary">
        Listes des etudiants
      </h3>
      <a href="/admin/add-student"
        ><button class="btn btn-outline-primary" type="button">
          Nouveau
        </button></a
      >
    </div>
    <div class="overflow-scroll">
      <table class="table table-danger table-hover shadow p-2">
        <thead class="thead-light">
          <tr>
            <th class="text-danger text-center">#</th>
            <th class="text-danger text-center" colspan="2">noms</th>
            <th class="text-danger text-center">email</th>
            <th class="text-danger text-center">actions</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach(student => { %>
          <tr>
            <td class="text-center"><%= student.id %></td>
            <td class="text-center"  colspan="2"><%= student.noms %></td>
            <td class="text-center"><%= student.email %></td>
            <td class="d-flex justify-content-center">
              <a href="/admin/students/<%= student.id %>">
                <button class="btn btn-outline-primary btn-sm mx-1" type="button">
                  voir
                </button>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-danger text-center">#</th>
            <th class="text-danger text-center"  colspan="2">noms</th>
            <th class="text-danger text-center">email</th>
            <th class="text-danger text-center">actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs')%>
