<%- include('../includes/head.ejs')%>
  <%- include('../includes/header.ejs')%>

    <div class="container w-100 h-100 mt-5 p-5 d-flex flex-column justify-content-center">
      <i class="fa-thin fa-bars"></i>
      <div class="col-md-12 d-flex flex-column justify-content-center">
        <div class="d-flex flex-row w-100 justify-content-between">
          <h3 class="text-center align-start text-secondary">
            <%= title %>
          </h3>
          <a href="/admin/add-student"><button class="btn btn-outline-primary" type="button">
              Nouveau
            </button></a>
        </div>
        <table class="table shadow p-2 rounded">
          <thead class="thead-light">
            <tr class="text-danger">
              <th></th>
              <th>Noms</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% students.forEach(student=> { %>
              <tr>
                <td class=" d-flex justify-content-center align-items-center rounded-circle bg-secondary opacity-50 ">
                  <%= student.prenom.charAt(0).toUpperCase() %>
                </td>
                <!-- <td>
                  <%= student.id %>
                </td> -->
                <td>
                  <%= student.prenom.charAt(0).toUpperCase() + student.prenom.slice(1) +" " + student.nom.toUpperCase() %>
                </td>
          <td><%= student.email %></td>
          <td class=" d-flex">
                    <a href="/admin/students/<%= student.id %>">
                      <button class="btn btn-outline-primary btn-sm mx-1" type="button">
                        voir
                      </button>
                    </a>
                    <a href="">
                      <button class="btn btn-outline-success btn-sm mx-1" type="button">
                        Editer
                      </button>
                    </a>

                    <button class="btn btn-outline-danger btn-sm mx-1" type="button">
                      Supprimer
                    </button>
                </td>
              </tr>
              <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-danger">#</th>
              <th class="text-danger">Noms</th>
              <th class="text-danger">Email</th>
              <th class="text-danger">Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <%- include('../includes/footer.ejs')%>