<%- include('../includes/header.ejs')%>
  <%- include('../includes/navigation.ejs')%>

    <div class="container fontTable w-100 h-100 mt-5 pt-5 d-flex flex-column justify-content-center">
      <div class="col-md-12 d-flex flex-column justify-content-center">
        <div class="d-flex flex-row w-100 justify-content-between">
          <h5 class="text-center align-start text-secondary">
            <%= title %>
          </h5>
        </div>
        <a href="/myaccount/classes/new">
          <button class="btn btn-outline-primary" type="button">
          Ajouter
        </button>
      </a>
      <div class="row">
      <% cohorts.forEach(cohort => { %>
                <div class="col-4 mt-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= cohort.nom %></h5>
                      <p class="card-text">145 apprenants</p>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
      </div>
    </div>

    <%- include('../includes/footer.ejs')%>